%h1 Listing users

%table
  %thead
    %tr
      %th ID
      %th Email
      %th Role
      %th ZIP

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.role
        %td= user.zip
        %td= link_to 'Show', show_profile_path(id="#{user.id}")
        - if can? :manage, :all
          %td= link_to 'Edit', edit_profile_path(user.id)
          %td= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" }
