%p#notice= notice
%p
  %b Full name:
  = @user.full_name
%p
  %b Birthday:
  = @user.birthday
%p
  %b Address:
  = @user.address
%p
  %b City:
  = @user.city
%p
  %b State:
  = @user.state
%p
  %b Country:
  = @user.country
%p
  %b ZIP:
  = @user.zip
= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLEMAP_BROWSER_APIKEY']}"
= javascript_include_tag "google_map.js"

#map-canvas
