%h1 Listing posts
= link_to 'New Post', new_post_path

%table
  %thead
    %tr
      %th Image
      %th User
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= image_tag post.image.url(:thumb)
        %td= post.user.full_name
        %td= post.title
        %td= post.description
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

