%a{:href => posts_path, :class => "nav_link"} Posts
%a{:href => users_path, :class => "nav_link"} Users
- if user_signed_in?
  = link_to 'Edit profile', edit_profile_path(current_user.id)
  %span
    Здравствуйте #{current_user.full_name}, #{current_user.email}
  = link_to 'Log out', destroy_user_session_path, :method => :delete
- else
  = link_to 'Log in', new_user_session_path
  или #{link_to 'Register', new_user_registration_path}
%hr
= link_to 'facebook', user_omniauth_authorize_path(:facebook)
= link_to 'vkontakte', user_omniauth_authorize_path(:vkontakte)
%hr
%p
- if user_signed_in?
  = current_user.role
  %hr
